.window-content{
    /*align-items: center;*/
    margin: auto;
}

.buttons{
    width: fit-content;
    margin: auto;
}

#addr_para-div{
    width: fit-content;
    margin: auto;
    font-size: 1.5em;
}

